body {
  padding: 30px;
  background-color: #f5f5f5;
}

.page {
  background-color: white;
}

.sidebar {
  padding: 0;
  background-color: #59B1CC;
}

.content {
  padding: 40px;
  height: 100%;
}

h2 {
  margin-bottom: 1rem;
}

h2 i.fa {
  margin-right: 10px;
}

.sidebar-header {
  background-color: #3D798C;
  color: white;
}

.sidebar-name {
  font-size: 1.5em;
  text-align: center;
}

.sidebar-bio {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar-picture {
  text-align: center;
}

.sidebar-picture img {
  border-radius: 50%;
  height: 100px;
  margin: 20px;
}

.sidebar-content {
  padding: 20px;
  background-color: #59B1CC;
  color: white;
}

.sidebar-content a {
  color: white;
}

.sidebar-link a {
  margin-left: 10px;
}

.sidebar-navigation {
}

.sidebar-navigation .list-group-item {
  border-radius: 0;
}

.sidebar-navigation .list-group-item.active {
  background-color: #95CDDE;
  border-color: #95CDDE;
}

/*
 * Jobs
 */
.job {
  margin-top: 20px;
  margin-bottom: 20px;
}

.job-title {
  font-size: 1.1em;
  font-weight: bold;
}

.job-date {
  float: right;
}

.job-company, .job-company a {
  color: #898A8E;
}

.job-date {
  color: #898A8E;
}

/*
 * Publications.
 */
.publi {
  margin-top: 20px;
  margin-bottom: 20px;
}
