title: Vincent Primault
description: >-
  I am Vincent Primault, a researcher in computer science at University College London.
baseurl: "/staff/V.Primault"
url: "" # the base hostname & protocol for your site, e.g. http://example.com

markdown: kramdown
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
