body {
  position: relative;
  margin-top: 70px;
}

.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
}

.jumbotron h1 {
    font-size: 40px;
}

.jumbotron ul {
    list-style-type: none;
}

h1 {
  font-size: 30px;
}

h2 {
    font-size: 25px;
}