{% extends "layout.html" %}

{% block content %}
<h1>DBM1 – Fall 2015</h1>

<p>Materials of the database management and data mining course for <a href="http://www.insa-lyon.fr/en/information-science-technology-semester-ist">IST semester</a> students.</p>

<ul>
    <li>
        <b>September, 16th (2pm-4pm):</b> introduction and relational algebra.
        <ul>
            <li><span class="glyphicon glyphicon-file"></span> <a href="{{ asset('media/dbm1/lecture1_algebra.pdf') }}">Lecture slides</a></li>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/exercises1_algebra.pdf') }}">Exercises</a></li>
        </ul>
    </li>
    <li>
        <b>September, 22th (2pm-4pm):</b> relational algebra (cont'd).
        <ul>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/exercises2_algebra.pdf') }}">Exercises</a></li>
        </ul>
    </li>
    <li>
        <b>October, 1st (8am-10am): </b> SQL. 
        <ul>
            <li><span class="glyphicon glyphicon-file"></span> <a href="{{ asset('media/dbm1/lecture2_sql.pdf') }}">Lecture slides</a></li>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/lecture2_example.pdf') }}">Running example</a></li>
        </ul>
    </li>
    <li>
        <b>October, 7th (8am-12pm)</b>: lab work.
        <ul>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/lab1_sql.pdf') }}">Exercices</a></li>
        </ul>
    </li>
    <li>
        <b>October, 9th (4pm-6pm)</b>: database internals.
        <ul>
            <li><span class="glyphicon glyphicon-file"></span> <a href="{{ asset('media/dbm1/lecture3_query_processing.pdf') }}">Lecture</a></li>
            <li><span class="glyphicon glyphicon-file"></span> <a href="{{ asset('media/dbm1/dbms-architecture.pdf') }}">Bonus reading: Architecture of a Database System</a></li>
        </ul>
    </li>
    <li>
        <b>October, 13th (2pm-4m)</b>: distributed databases.
        <ul>
            <li><span class="glyphicon glyphicon-file"></span> <a href="{{ asset('media/dbm1/lecture4_distributed.pdf') }}">Lecture</a></li>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/exercises3_distributed.pdf') }}">Exercises</a></li>
        </ul>
    </li>
    <li>
        <b>October, 20th (8am-12pm)</b>: lab work.
        <ul>
            <li><span class="glyphicon glyphicon-file"></span> <a href="{{ asset('media/dbm1/final_remarks.pdf') }}">Final remarks</a></li>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/lab2_advanced.pdf') }}">Exercises</a></li>
            <li><span class="glyphicon glyphicon-pencil"></span> <a href="{{ asset('media/dbm1/p1040-kadambi.pdf') }}">Research paper: Where in the world is my data?</a></li>
        </ul>
    </li>
    <li><b>October, 23th (2am-4am)</b>: final exam.</li>
</ul>
{% endblock %}
