{% extends "layout.html" %}

{% block content %}
<h1>Software</h1>

<p>
  I had the opportunity to write or contribute to several pieces of software since I discovered programming.
  I am committed to release the code as open source whenever possible.
  You will find some examples of projects I contributed to on [my GitHub page](https://github.com/pvcnt).
</p>

<h2>Accio</h2>

Accio is the main software I wrote during my PhD thesis.
It is a framework enabling to study location privacy easily.
Even non programmers are enabled to launch experiments and analyze their results through various interfaces.

Accio source code is available [on GitHub](https://github.com/pvcnt/accio), along with [its documentation](https://privamov.github.io/accio/).

{% endblock %}
