{% extends "layout.html" %}

{% block content %}
<h1>Software</h1>

<p>
  I had the opportunity to write or contribute to several pieces of software since I discovered programming.
  I am committed to release the code as open source whenever possible.
  You will find some examples of projects I contributed to on <a href="https://github.com/pvcnt">my GitHub page</a>.
</p>

<h2>Accio</h2>

Accio is the main software I wrote during my PhD thesis.
It is a framework enabling to study location privacy easily.
Even non programmers are enabled to launch experiments and analyze their results through various interfaces.

Accio source code is available <a href="https://github.com/privamov/accio">on GitHub</a>, along with <a href="https://privamov.github.io/accio/">its documentation</a>.

{% endblock %}
