{% extends "layout.html" %}

{% block content %}
<h1>Teaching</h1>

<p>Here is the list of the current and past courses I contributed to.</p>

<ul>
    <li>
      <b>Information and Communication Technologies – September 2016 to June 2017 (192h):</b>
      Lecturer (french "A.T.E.R." position) for courses at the <a href="http://www.univ-lyon1.fr/">University of Lyon 1</a> for 1st and 2nd year students about office software, databases, Web and networks.
    </li>
    <li>
      <b>XML – Spring 2016 (16h):</b>
      Lecturer for lab work at <a href="http://www.insa-lyon.fr/en/">INSA Lyon</a> for 3rd year students in CS about XML-related technologies (XML documents, XML schemas, DTD, XPath, XQuery, XSLT, DOM).</li>
    <li>
      <b><a href="{{ path('teaching_dbm1') }}">Databases – Fall 2015 (20h):</a></b>
      Lecturer for a course at <a href="http://www.insa-lyon.fr/en/">INSA Lyon</a> for foreign exchange students in CS about databases (fundamentals, relational algebra, SQL, query processing &amp; optimization, distributed databases, NoSQL).
    </li>
    <li>
      <b>XML – Spring 2015 (16h):</b>
      Lecturer for lab work at <a href="http://www.insa-lyon.fr/en/">INSA Lyon</a> for 3rd year students in CS about XML-related technologies (XML documents, XML schemas, DTD, XPath, XQuery, XSLT, DOM).
    </li>
    <li>
      <b>Databases – Spring 2015 (32h):</b>
      Lecturer for lab work at <a href="http://www.ecam.fr/en">ECAM Lyon</a> for 4th year students about basics on databases (database conception, SQL, Microsoft Access).
    </li>
</ul>
{% endblock %}
